.row {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  @include clearfix;

  .is-flex {
    display: flex;

    .is-justify-center {
      justify-content: center;
    }
    .is-justify-end {
      justify-content: flex-end;
    }
    .is-justify-space-between {
      justify-content: space-between;
    }
    .is-justify-space-around {
      justify-content: space-around;
    }

    .is-align-middle {
      align-items: center;
    }
    .is-align-bottom {
      align-items: flex-end;
    }
  }
}

[class^="col"],
[class*="col"] {
  float: left;
  box-sizing: border-box;
}

.col {
  width: percentage(1 / 24);
}

@for $i from 1 through 24 {
  $width: percentage($i/ 24);

  .col-#{$i} {
    width: $width;
  }
  .col-offset-#{$i} {
    margin-left: $width;
  }
  .col-pull-#{$i} {
    position: relative;
    right: $width;
  }
  .col-push-#{$i} {
    position: relative;
    left: $width;
  }
}
