@charset 'UTF-8';
@import "../var";
@import "../functions/functions";

.v-btn {
  display: inline-block;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  background: #ffffff;
  border: #dcdfe6 1px solid;
  color: #ccc;
  text-align: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 12px 20px;
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
  border-radius: 5px;
  transition: all 0.15s linear;
  appearance: none;

  span {
    user-select: none !important;
  }

  &.v-btn__square {
    border-radius: 0;
  }

  &:focus:not(.focus-visible) {
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &::-moz-focus-inner {
    border: none;
  }

  &__round {
    border-radius: 99999px;
  }

  &__mini {
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 3px;
  }

  &__small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 4px;
  }

  &__big {
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 6px;
  }

  &__block {
    display: block;
    width: 100%;
  }

  &__loading {
    opacity: 0.85;
    cursor: not-allowed;
  }

  &__default {
    outline: none !important;

    &:hover {
      background-color: rgba($primary, 0.1);
      color: $primary;
      border: $primary 1px solid;
    }

    &:active {
      background-color: rgba($primary, 0.3);
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($primary, 0.4), 0 0 0 1.5px rgba($primary, 0.4);
    }

    &:disabled {
      color: #606266;
      background-color: #fff;
      border: #dcdfe6 1px solid;
    }

    &.is-plain {
      background-color: rgba($primary, 0);
      border: #dcdfe6 1px solid;
      color: #606266;

      &:hover {
        background-color: rgba($primary, 0);
        border: #dcdfe6 1px solid;
        color: #606266;
      }

      &:active {
        background-color: rgba($primary, 0.1);
      }

      &:disabled {
        background-color: rgba($primary, 0);
        color: #606266;
        border: #dcdfe6 1px solid;
      }
    }
  }
}

@each $theme, $color in $theme-colors {
  .v-btn__#{$theme} {
    background-color: $color;
    color: #fff;
    border: $color 1px solid;
    outline: none !important;

    &:hover {
      background-color: darken($color, 10%);
    }

    &.v-btn__square {
      border-radius: 0;
    }

    &:active {
      background-color: $color;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($color, 0.4), 0 0 0 1.5px rgba($color, 0.4);
    }

    &:disabled {
      background-color: $color;
    }

    &.is-plain {
      background-color: rgba($color, 0.1);
      border: $color 1px solid;
      color: $color;

      &:hover {
        background-color: $color;
        border: $color 1px solid;
        color: #fff;
      }

      &:active {
        background-color: lighten($color: $color, $amount: 10%);
      }

      &:disabled {
        background-color: rgba($color, 0.1);
        color: $color;
      }
    }
  }
}

/*
.js-focus-visible .s-btn:focus:not(.focus-visible) {
  box-shadow: none;
} */
/* .s-btn::-moz-focus-inner {
  border: none;
} */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
