.sidebar
  & > .sidebar-links
    & > li > a.sidebar-link
      font-size 1em !important
      line-height 1.7
      font-weight normal !important
    & > li:not(:first-child)
      margin-top .25rem !important

a.sidebar-link
  padding 0.2rem 1rem 0.2rem 1.25rem !important
