$theme-colors: (
  primary: #007bff,
  success: #28a745,
  danger: #dc3545,
  royal: #7b72e9,
  // purple: #6807f9
);

$sm-font-size: 12px;
$md-font-size: 14px;
$lg-font-size: 16px;

$primary: #007bff;
$success: #28a745;
$danger: #dc3545;
$royal: #7b72e9;
$purple: #6807f9;
$purple2: #9852f9;
