/*
 * @Author: skybluefeet
 * @Date: 2020-03-03 10:10:02
 * @LastEditors: skybluefeet
 * @LastEditTime: 2020-03-03 10:23:28
 */

$dark: #545c64;

$grey: #888;
$grey-light: #aaa;
$grey-lighter: #dbdbdb;
$link: #409eff;
$primary: #409eff;
$success: #67c23a;
$info: #909399;
$warning: #e6a23c;
$danger: #f56c6c;

$bulmaswatch-import-font: true !default;

$box-shadow: 0 0 0 1px $grey-lighter;

$affix-z-index: 1001;
